<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col>
        <ion-title>Kultivate <span style="color: #F4511E">Life</span></ion-title>
      </ion-col>
      <ion-col offset-3 col-3>
        <span (click)="logout()" style="color: #40C4FF; font-weight: bold; margin-right: 5px;">{{'Logout' | translate}}</span>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col style="margin-top: 10px">
      <ion-label text-center>{{'Select Language' | translate}}</ion-label>
    </ion-col>
    <ion-col>
    <!--<ion-col style="margin-top: 10px;">-->
      <span (change)="setDefaultLanguage(langSelect.value)">
        <ion-card text-center class="custom-input">
          <select #langSelect (change)="translate.use(langSelect.value)" style="margin-left: 35%" text-capitalize>
            <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
          </select>
        </ion-card>
      </span>
    </ion-col>
  </ion-row>
  <ion-card style="padding: 5px; font-weight: bold; border-radius: 4px;">
    {{'Please take closeup photos of the symptom and send it for expert advise.' | translate}}
  </ion-card>

  <ion-row>
    <ion-col col-5>
      <ion-card class="custom-input">
        <select [(ngModel)]="crop_id">
          <option *ngFor="let crop of crops" [value]="crop.id">{{crop.name | translate}}</option>
        </select>
        <!--<ion-select [(ngModel)]="crop_id" interface="popover" placeholder="Crop" style="padding: 0px">-->
          <!--<ion-option *ngFor="let crop of crops" [value]="crop.id">{{ crop.name }}</ion-option>-->
        <!--</ion-select>-->

      </ion-card>
      <!-- <ion-label text-center>{{'Crop' | translate}}</ion-label> -->
    </ion-col>
    
    <ion-col col-3>
      <ion-card class="custom-input">
        <input [(ngModel)]="age_of_crop" text-center type="number">
      </ion-card>
      <!-- <ion-label text-center>{{'Age of the crop' | translate}}</ion-label> -->
    </ion-col>

    <ion-col col-4>
        <ion-card class="custom-input">
          <select [(ngModel)]="crop_unit_id">
          <option *ngFor="let crop_unit of crop_units" [value]="crop_unit.id">{{crop_unit.name | translate}}</option>
        </select>
        </ion-card>
      </ion-col>
  </ion-row>
  <ion-row style="padding-top: 0px; margin-top: 0%">
    <ion-col col-3 offset-2>{{'Crop' | translate}}</ion-col>
    <ion-col offset-1>{{'Age of the crop' | translate}}</ion-col>
  </ion-row>

  <ion-row>
  </ion-row>

  <!--<ion-row>-->
    <!--<ion-col>-->
      <!--<ion-list>-->
        <!--<ion-item>-->
          <!--<ion-label>Choose Crop</ion-label>-->
          <!--<ion-select [(ngModel)]="crop_id" selectedText="Crop" interface="popover" placeholder="choose crop">-->
            <!--<ion-option *ngFor="let crop of crops" [value]="crop.id">{{ crop.name }}</ion-option>-->
          <!--</ion-select>-->
        <!--</ion-item>-->
      <!--</ion-list>-->
    <!--</ion-col>-->
    <!--<ion-col>-->
      <!--<ion-list>-->
        <!--<ion-item>-->
          <!--<ion-label fixed>Age of crop</ion-label>-->
          <!--<ion-input [(ngModel)]="age_of_crop" placeholder='Age in days' type="number"></ion-input>-->
        <!--</ion-item>-->
      <!--</ion-list>-->
    <!--</ion-col>-->
  <!--</ion-row>-->

  <ion-card class="custom-input">
  <ion-item>
    <!--<ion-label floating>Notes</ion-label>-->
    <textarea elastic style="color:black; line-height:normal; height:100%; width: 100%" [(ngModel)]="notes" placeholder="{{'Notes' | translate}}"></textarea>
  </ion-item>
  <!--<ion-item>-->
    <!--<ion-label floating>Notes</ion-label>-->
    <!--<ion-textarea elastic style="color:black; line-height:normal; height:100%" [(ngModel)]="notes"></ion-textarea>-->
  <!--</ion-item>-->
  </ion-card>

  <ion-icon name="camera" style="font-size: 100px; margin-left: 40%" (click)="choosePicture()"></ion-icon>
  <br>
  <ion-row>
    <ion-col col-4 *ngFor="let picture of picture_array; let index=index">
      <ion-thumbnail>
        <ion-icon name="close-circle" (click)="removeSelectedPic(index)" class="icon-cross"></ion-icon>
        <img [src]="picture" alt="image">
      </ion-thumbnail>
    </ion-col>
  </ion-row>

  <ion-card class="custom-button">
    <ion-row (click)="uploadQuery(crop_id, age_of_crop, notes, picture_array, crop_unit_id)">
      <ion-col>{{'Send' | translate}}
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>
