<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-5>
        <ion-title>Home</ion-title>
      </ion-col>
      <ion-col offset-3 col-3>
        <span (click)="logout()" style="color: #FF7043; font-weight: bold">Logout</span>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Choose Crop</ion-label>
      <ion-select [(ngModel)]="crop_id" interface="popover" placeholder="choose crop">
        <ion-option *ngFor="let crop of crops" [value]="crop.id">{{ crop.name }}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label fixed>Age of crop</ion-label>
      <ion-input [(ngModel)]="age_of_crop" placeholder='Age in days' type="number"></ion-input>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label floating>Notes</ion-label>
    <ion-textarea elastic style="color:black; line-height:normal; height:100%" [(ngModel)]="notes"></ion-textarea>
  </ion-item>

  <ion-icon name="camera" style="font-size: 100px; margin-left: 40%" (click)="choosePicture()"></ion-icon>
  <br>
  <ion-row>
    <ion-col col-4 *ngFor="let picture of picture_array; let index=index">
      <ion-thumbnail>
        <ion-icon name="close-circle" (click)="removeSelectedPic(index)" class="icon-cross"></ion-icon>
        <img [src]="picture" alt="image">
      </ion-thumbnail>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <button ion-button full color="secondary" (click)="uploadQuery(crop_id, age_of_crop, notes, picture_array)">Send</button>
    </ion-col>
  </ion-row>

</ion-content>
