<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Choose Crop </ion-label>
      <ion-select [(ngModel)]="crop_name" interface="popover" placeholder="choose crop">
        <ion-option *ngFor="let crop of crops" [value]="crop.id">{{ crop.name }}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
    <ion-label floating>Age of crop</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
  </ion-list>

  <ion-icon name="camera" style="font-size: 100px; margin-left: 40%" (click)="choosePicture()"></ion-icon>
  <br>
  <ion-row>
    <ion-col col-4 *ngFor="let picture of picture_array; let index=index">
      <ion-thumbnail>
        <ion-icon name="close-circle" (click)="removeSelectedPic(index)" class="icon-cross"></ion-icon>
        <img [src]="picture" alt="image">
      </ion-thumbnail>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <button ion-button full color="secondary">Send</button>
    </ion-col>
  </ion-row>

</ion-content>
