<ion-header>

  <ion-navbar>
    <ion-title text-center>Sign Up</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="signup_form" (ngSubmit)="signUp()">
    <ion-list>
      <ion-item>
        <ion-label color="primary" [ngClass]="">Mobile No</ion-label>
        <ion-input type="number" placeholder="9384674765" formControlName="mobile"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">First Name</ion-label>
        <ion-input placeholder="Mahesh" text-capitalize formControlName="first_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Last Name</ion-label>
        <ion-input placeholder="Punniyamoorthi" text-capitalize formControlName="last_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Village</ion-label>
        <ion-input placeholder="Kannur" text-capitalize formControlName="village"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Pincode</ion-label>
        <ion-input type="number" placeholder="642353" formControlName="pincode"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col offset-4>
          <button ion-button [disabled]="!signup_form.valid">Sign Up</button>
        </ion-col>
      </ion-row>
    </ion-list>
  </form>

  <ion-row *ngIf="is_otp_created" >
    <ion-col>
      <ion-item>
        <ion-label color="primary">OTP</ion-label>
        <ion-input type="number" [(ngModel)]="otp" placeholder="642353"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <button ion-button (click)="confirmOtp(otp)">Confirm</button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="is_otp_created" >
    <ion-col offset-3="">
      <button ion-button (click)="resendOtp(otp)">Resend Otp</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <button ion-button color="light" (click)="navigateLoginPage()">Login</button>
    </ion-col>
  </ion-row>
</ion-content>
