<ion-header>

  <ion-navbar>
    <ion-title>Sign Up</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="is_otp_created == false">
    <form [formGroup]="signup_form">


      <ion-card class="custom-input">
        <ion-row>
          <ion-col col-2>
            <ion-icon name="phone-portrait" style="color: #F4511E"></ion-icon>
          </ion-col>
          <ion-col>
            <input type="number" placeholder="Enter the 10 digit phone number" formControlName="mobile">
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card class="custom-input">
        <ion-row>
          <ion-col col-2>
            <ion-icon name="person" style="color: #F4511E"></ion-icon>
          </ion-col>
          <ion-col>
            <input type="text" placeholder="First Name" text-capitalize formControlName="first_name">
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card class="custom-input">
        <ion-row>
          <ion-col col-2>
            <ion-icon name="person" style="color: #F4511E"></ion-icon>
          </ion-col>
          <ion-col>
            <input type="text" placeholder="Last Name" text-capitalize formControlName="last_name">
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card class="custom-input">
        <ion-row>
          <ion-col col-2>
            <ion-icon name="home" style="color: #F4511E"></ion-icon>
          </ion-col>
          <ion-col>
            <input type="text" placeholder="Village" text-capitalize formControlName="village">
          </ion-col>
        </ion-row>
      </ion-card>


      <ion-card class="custom-input">
        <ion-row>
          <ion-col col-2>
            <ion-icon name="analytics" style="color: #F4511E"></ion-icon>
          </ion-col>
          <ion-col>
            <input type="number" placeholder="Pincode" formControlName="pincode">
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card [ngClass]="signup_form.valid? 'custom-button': 'custom-invalid-button'">
        <ion-row (click)="signUp()">
          <ion-col>
            Sign Up
          </ion-col>
        </ion-row>
      </ion-card>
    </form>
  </div>

  <ion-row *ngIf="is_otp_created">
    <ion-col>
      <ion-item>
        <ion-label color="primary">OTP</ion-label>
        <ion-input type="number" [(ngModel)]="otp"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <button ion-button (click)="confirmOtp(otp)">Confirm</button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="is_otp_created">
    <ion-col offset-3="">
      <button ion-button (click)="resendOtp(otp)">Resend Otp</button>
    </ion-col>
  </ion-row>

  <ion-card class="custom-button" style="margin-top: 30%;">
    <ion-row (click)="navigateLoginPage()">
      <ion-col>
        Login
      </ion-col>
    </ion-row>
  </ion-card>

  <!-- <button ion-button (click)="routeToHistoryPage()"> history </button> -->

  <p style="text-align: center">
    Already have an account?
  </p>
</ion-content>
