<ion-header>

  <ion-navbar>
    <ion-title text-center>LogIn</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div style="margin-top: 30%">
    <div *ngIf="is_otp_created == false">
      <form [formGroup]="login_form" (ngSubmit)="logIn()">

        <ion-row style="border: 1px solid black; border-radius: 7px; padding: 10px 0px 10px 0px; text-align: center">
          <ion-col col-2>
            <ion-icon name="phone-portrait" style="color: #F4511E"></ion-icon>
          </ion-col>
          <!--<ion-col>-->
            <input type="number" formControlName="mobile" placeholder="Enter the 10 digit phone number">
          <!--</ion-col>-->
        </ion-row>
        <ion-row style="border: 1px solid black; border-radius: 7px; padding: 6px 0px 3px 0px; margin-top: 10px; color: white; background-color: #F4511E; text-align: center">
          <ion-col>
            Login
          </ion-col>
        </ion-row>


        <!--<ion-list>-->
          <!--<ion-item>-->
            <!--<ion-label color="primary">Mobile</ion-label>-->
            <!--<ion-input type="number" placeholder="642353" formControlName="mobile"></ion-input>-->

          <!--</ion-item>-->
          <!--<ion-row>-->
            <!--<ion-col offset-4>-->
              <!--<button ion-button [disabled]="!login_form.valid">LogIn</button>-->
            <!--</ion-col>-->
          <!--</ion-row>-->
        <!--</ion-list>-->
      </form>
    </div>
  </div>


  <!--<div style="margin-top: 100px">-->
  <ion-row *ngIf="is_otp_created">
    <ion-col>
      <ion-item>
        <ion-label color="primary">OTP</ion-label>
        <ion-input type="number" [(ngModel)]="otp" placeholder="642353"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <button ion-button (click)="confirmLoginOtp(otp)">Confirm</button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="is_otp_created">
    <ion-col offset-3="">
      <button ion-button (click)="resendLoginOtp(otp)">Resend Otp</button>
    </ion-col>
  </ion-row>




  <ion-row style="border: 1px solid black; border-radius: 7px; padding: 6px 3px 3px 3px; margin-top: 70%; color: white; background-color: #F4511E; text-align: center" (click)="routeSignupPage()">
    <ion-col>
      Signup
    </ion-col>
  </ion-row>

  <!--<ion-row>-->
    <!--<ion-col>-->
      <!--<button ion-button color="light" (click)="routeSignupPage()">SignUp</button>-->
    <!--</ion-col>-->
  <!--</ion-row>-->

  <button ion-button (click)="navigateToHome()"> Home</button>
  <!--</div>-->
</ion-content>
