<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="login_form" (ngSubmit)="logIn()">
    <ion-list>
      <ion-item>
        <ion-label color="primary">Mobile</ion-label>
        <ion-input type="number" placeholder="642353" formControlName="mobile" ></ion-input>
      </ion-item>
      <ion-row>
        <ion-col offset-4>
          <button ion-button [disabled]="!login_form.valid">LogIn</button>
        </ion-col>
      </ion-row>
    </ion-list>
  </form>

  <ion-row *ngIf="is_otp_created" >
    <ion-col>
      <ion-item>
        <ion-label color="primary">OTP</ion-label>
        <ion-input type="number" [(ngModel)]="otp" placeholder="642353"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <button ion-button (click)="confirmLoginOtp(otp)">Confirm</button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="is_otp_created" >
    <ion-col offset-3="">
      <button ion-button (click)="resendLoginOtp(otp)">Resend Otp</button>
    </ion-col>
  </ion-row>
</ion-content>
