<ion-header>

  <ion-navbar>
    <ion-title>{{'Advisory' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <accordion-list class="test" *ngFor="let query of query_history; let index = index" title="{{query['requested_date'] | date: 'dd-MM-yyyy'}} : {{query['crop_name'] | translate}}" hasMargin="false" [expanded]="index === 0" name="checkmark">
    <ion-list>
      <ion-item>
        <ion-avatar item-start>
          <img alt='image' [src]="'data:image/jpeg;base64,' + query['crop_image']">
          <!--<img alt='image' src="assets/icon/crop1.jpeg">-->
        </ion-avatar>
        <h3 style="margin-top: 5px;"><span style="font-weight: bold">{{'Age of the crop'| translate}}:</span> {{query['age_of_crop']}} </h3>
        <h3 style="margin-top: 5px; white-space: normal; text-align: justify;"><span style="font-weight: bold;">{{'Notes' | translate}}: </span>{{query['notes']}}</h3>
        <h3 style="margin-top: 5px;font-weight: bold">{{'Recommendations' | translate}}:</h3>
        <span *ngFor="let recommendation of query['recommendations']; let row = index">
          <h3 style=" white-space: normal; text-align: justify  ; margin-top: 15px;">{{row +1}}: {{recommendation['recommendation']}}</h3>
        </span>
      </ion-item>
      <hr>
    </ion-list>
  </accordion-list>
</ion-content>
